{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<section class="container padding-top-3x padding-bottom-2x">
  <h1>{{title}}</h1>
  <div class="row padding-top">
    <div class="col-md-4 padding-bottom">
      <h3>Login</h3>
      <form method="post" class="login-form">{% csrf_token %}
        <input type="text" class="form-control" placeholder="Username" required>
        <input type="password" class="form-control" placeholder="Password" required>
        <div class="form-footer">
          <div class="rememberme">
            <label class="checkbox">
              <input type="checkbox" checked> Remember me
            </label>
          </div>
          <div class="form-submit">
            <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Login</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h3>Register</h3>
      <div class="inner">
        <form method="post" class="login-form">{% csrf_token %}
          <input name="uname" type="text" class="form-control" placeholder="Username" required>
          <input name="email" type="email" class="form-control" placeholder="E-mail" required>
          <input name="pass1" type="password" class="form-control" placeholder="Password" required>
          <input name="pass2" type="password" class="form-control" placeholder="Repeat password" required>
          <div class="form-footer">
            <div class="rememberme"></div>
            <div class="form-submit">
              <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Sign up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3 padding-top-2x">
      <a href="#" class="social-signup-btn ssb-facebook">
        <i class="socicon-facebook"></i>
        <span>Signup with Facebook</span>
      </a>
      <a href="#" class="social-signup-btn ssb-google">
        <i class="socicon-googleplus"></i>
        <span>Signup with Google+</span>
      </a>
      <a href="#" class="social-signup-btn ssb-twitter">
        <i class="socicon-twitter"></i>
        <span>Signup with Twitter</span>
      </a>
    </div>
  </div>
</section>
{% endblock %}