{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="fw-section bg-gray padding-top-3x">
  <div class="container padding-top">
    <!-- Product Gallery -->
    <div class="product-gallery">
      <!-- Preview -->
      <ul class="product-gallery-preview">
        <li id="prev00" class="current"><img src="{{objects.default_image.url}}" alt="Product"></li>
        {% for p in vari %}
        <li id="prev{{p.pk}}">
          {% if p.image %}
          <img src="{{p.image.url}}" alt="Product">
          {% else %}
          <img src="{% static 'img/default/1.png' %}" alt="Shop item">
          {% endif %}
        </li>
        {% endfor %}
      </ul><!-- .product-gallery-preview -->
      <!-- Thumblist -->
      <ul class="product-gallery-thumblist">
        {% for v in vari %}
        <li class="thumb_select" data-price="{{v.get_price}}"><a href="#prev{{v.pk}}">
            {% if v.image %}
            <img src="{{v.image.url}}" alt="Product">
            {% else %}
            <img src="{% static 'img/default/1.png' %}" alt="Shop item">
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul><!-- .product-gallery-thumblist -->
    </div><!-- .product-gallery -->
  </div><!-- .container -->
</section><!-- .fw-section.bg-gray -->

<!-- Product Info -->
<section class="fw-section bg-gray padding-bottom-3x">
  <div class="container">
    <div class="product-info padding-top-2x text-center">
      <h1 class="h2 space-bottom-half">{{title}}</h1>
      <h2>Ksh <small id="price_change" style="color:#e08304;">{{objects.price}}</small> </h2>
      <p class="text-sm text-gray">{{objects.description}}</p>
      <div class="product-meta">
        <div class="product-sku">
          <strong>SKU: </strong>
          <span>{{objects.SKU}}</span>
        </div>
        <div class="product-category">
          <strong>Category: </strong>
          <a href="{{object.default_category.get_absolute_url}}">{{objects.default_category}}</a>
        </div>
        <span class="product-rating text-warning">
          <i class="material-icons star"></i>
          <i class="material-icons star"></i>
          <i class="material-icons star"></i>
          <i class="material-icons star"></i>
          <i class="material-icons star_border"></i>
        </span>
      </div><!-- .product-meta -->
      <div class="product-tools shop-item">
        <div class="count-input">
          <a class="incr-btn" data-action="decrease" href="#">–</a>
          <input id="qnt" class="quantity" type="text" value="1">
          <a class="incr-btn" data-action="increase" href="#">+</a>
        </div><!-- .count-input -->
        <div class="form-element">
          <select class="form-control form-control-sm color-select" id="vari_select">
            {% for i in vari %}
            <option value="{{i.pk}}" data-image="prev{{i.pk}}" data-price="{{i.get_price}}">{{i.title}}</option>
            {% endfor %}
          </select>
        </div><!-- .form-element -->
        <a id="add_cart" href="#" class="add-to-cart">
          <em>Add to Cart</em>
          <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
            <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2"
              stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
          </svg>
        </a><!-- .add-to-cart -->
      </div><!-- .product-tools -->
      <div class="product-share">
        <span>Share this product: </span>
        <div class="social-bar">
          <a class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"
            href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
            <i class="socicon-facebook"></i>
          </a>
          <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
            <i class="socicon-twitter"></i>
          </a>
          <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Instagram">
            <i class="socicon-instagram"></i>
          </a>
        </div>
      </div><!-- .product-share -->
    </div><!-- .product-info -->
  </div><!-- .container -->
</section><!-- .fw-section.bg-gray -->

<!-- Product Tabs -->
<section class="container padding-top-2x">
  <!-- Nav Tabs -->
  <ul class="nav-tabs text-center" role="tablist">
    <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
    <li><a href="#reviews" role="tab" data-toggle="tab">Reviews <sup>{{rev_count}}</sup></a></li>
  </ul><!-- .nav-tabs -->
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane transition fade in active" id="description">
      <div class="row space-top">
        <div class="col-md-8 col-md-offset-2">
          <p>{{objects.description}}</p>
        </div>
      </div>
    </div><!-- .tab-pane -->

    <div role="tabpanel" class="tab-pane transition fade" id="reviews">
      <!-- Review -->
      {% for i in reviews %}
      <div class="review">
        <div class="review-author-ava">
          <img src="{% static 'img/default/user_review.png' %}" alt="Review Author">
        </div>
        <div class="review-body">
          <div class="review-meta">
            <div class="column">
              <h4 class="review-title">{{i.caption}}</h4><i class="material-icons schedule"></i>
              <small>{{i.timestamp|timesince}} ago</small>
            </div>
            <div class="column">
              <span class="product-rating text-warning">
                {% if i.stars == '5' %}
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                {% elif i.stars == '4' %}
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star_border"></i>
                {% elif i.stars == '3' %}
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star_border"></i>
                <i class="material-icons star_border"></i>
                {% elif i.stars == '2' %}
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star_border"></i>
                <i class="material-icons star_border"></i>
                <i class="material-icons star_border"></i>
                {% elif i.stars == '1' %}
                <i class="material-icons star"></i>
                <i class="material-icons star_border"></i>
                <i class="material-icons star_border"></i>
                <i class="material-icons star_border"></i>
                <i class="material-icons star_border"></i>
                {% endif %}

              </span>
            </div>
          </div>
          <p>{{i.review}}</p>
          <cite>{{i.name}}</cite>
          <p></cite>
        </div>
      </div><!-- .review -->
      {% endfor %}

      <!-- Review -->
      <!-- Reviview Form -->
      <h4 class="padding-top">Leave a review</h4>
      <form method="post" class="row padding-top" action="">{% csrf_token %}
        <div class="col-sm-4">
          <div class="form-element">
            <input type="text" class="form-control" placeholder="Name*" required name="name">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-element">
            <input type="email" class="form-control" placeholder="Email*" required name="email">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-element form-select">
            <select class="form-control" name="stars">
              <option value="5">5 stars</option>
              <option value="4">4 stars</option>
              <option value="3">3 stars</option>
              <option value="2">2 stars</option>
              <option value="1"> 1 star</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-element">
            <input type="text" name="caption" placeholder="Caption" n class="form-control">
          </div>
          <div class="form-element">
            <textarea rows="8" class="form-control" placeholder="Review*" required name="review"></textarea>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-9 col-md-offset-8 col-sm-offset-6">
              <button type="submit"
                class="btn btn-block btn-primary waves-effect waves-light space-top-none space-bottom-none">Leave
                Review</button>
            </div>
          </div>
        </div>
      </form><!-- .row -->
    </div><!-- .tab-pane -->
  </div><!-- .tab-content -->
</section><!-- .container -->
{% for i in obj_prod %}
<!-- Related Products -->
<section class="container padding-top padding-bottom">
  <hr>
  <h3 class="padding-top">You May Also Like</h3>
  <div class="row padding-top">

    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="{{i.get_absolute_url}}" class="item-link"></a>
          {% if i.default_image %}
          <img style="max-height:230px; height:230px;" src="{{i.default_image.url}}" alt="Shop item">
          {% else %}
          <img style="max-height:230px; height:230px;" src="{% static 'img/default/1.png' %}" alt="Shop item">
          {% endif %}
          <div class="shop-item-tools">
            <a href="{{i.get_absolute_url}}" class="add-to-whishlist" data-toggle="tooltip" data-placement="top"
              title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                  stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                  d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11" />
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="#">{{i.title}}</a></h3>
          <span class="shop-item-price">
            Ksh {{i.price}}
          </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->

  </div><!-- .row -->
</section><!-- .container -->
{% endfor %}

{% endblock %}