{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Container -->
<section class="container padding-top-3x padding-bottom">

  <h1 class="space-top-half">{{title}}</h1>
  <div class="row padding-top">

    <!-- Cart -->
    <div class="col-sm-8 padding-bottom-2x">
      <p class="text-sm">
        <span class="text-gray">Currently</span> {{cart_count}} items
        <span class="text-gray"> in cart</span>
      </p>
      <div class="shopping-cart">
        <!-- Item -->
        {% for i in object.cartitem_set.all %}
        <div class="item">
          <a href="{{i.item.get_absolute_url}}" class="item-thumb">
            {% if i.item.image %}
            <img src="{{i.item.image.url}}" alt="Product">
            {% else %}
            <img src="{% static 'img/default/1.png' %}" alt="Shop item">
            {% endif %}
          </a>
          <div class="item-details">
            <h3 class="item-title"><a href="{{i.item.get_absolute_url}}">{{i.item.product}}-
                <small>{{ i.item.title }}</small></a></h3>
            <h4 class="item-price sitem" data-pr="{{i.item.get_price}}">{{object.currency}} {{ i.line_item_total }}</h4>
            <div class="count-input">
              <a class="incr-btn" data-action="decrease" href="#">–</a>
              <input id="{{i.item.pk}}" class="quantity" type="text" value="{{i.quantity}}"
                data-p="{{i.item.get_price}}">
              <a class="incr-btn" data-action="increase" href="#">+</a>
            </div>
          </div>
          <a href="#" class="item-remove" data-toggle="tooltip" data-placement="top" title="Remove" data-delete="False">
            <i class="material-icons remove_shopping_cart"></i>
          </a>
        </div><!-- .item -->
        {% endfor %}
      </div><!-- .shopping-cart -->
      <!-- Coupon -->
    </div><!-- .col-sm-8 -->

    <!-- Sidebar -->
    <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
      <aside>
        <h3 class="toolbar-title">Cart subtotal:</h3>
        <h4 id="total" class="amount">{{object.currency}} {{object.total}}</h4>
        <p class="text-sm text-gray">* Note: This amount does not include costs for international shipping. You will be
          able to calculate shipping costs on checkout.</p>
        <a href="#" class="btn btn-default btn-block waves-effect waves-light update">Update Cart</a>
        <a href="{% url 'Cart:Checkout' %}"
          class="btn btn-primary btn-block waves-effect waves-light space-top-none">Checkout</a>
      </aside>
    </div><!-- .col-md-3.col-sm-4 -->
  </div><!-- .row -->
</section><!-- .container -->

{% endblock %}